@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: 'Mooli', sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
  margin: 0;
  background-color: var(--text-light);
}

header {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 1em;
  font-family: var(--secondary-font);
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 0.5em;
}

/* Hides the menu when 'hide' class is applied */
.hide {
  display: none;
}

nav a {
  color: var(--text-light);
  text-decoration: none;
  font-size: 1.1em;
}

nav a:hover {
  text-decoration: underline;
}

.menu-button {
  display: block;
  margin: 1em auto;
}

main {
  text-align: center;
}

h2 {
  font-family: var(--secondary-font);
  margin-bottom: 1em;
}

.gallery {
  display: grid;
  gap: 1.5em;
  padding: 2em;
  grid-template-columns: 1fr;
}

figure {
  margin: 0;
  border: 3px solid #ccc;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}

footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}

/* Responsive Layouts */
@media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  #navigation {
    display: flex !important;
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


/* Modal Dialog Styling */
dialog {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  position: relative;
  display: inline-block;
}

dialog img {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
  display: block;
  margin: auto;
}

/* Close button is now RELATIVE to the image */
.close-viewer {
  position: absolute;
  top: -5%;
  right: 20%;
  background-color: var(--accent-color);
  color: white;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  z-index: 20;
}
